.bg-radius-7 {
	border-radius: 7px;
}

body {
	background-color: #eee;
}

.cont {
	border: 1px solid #fff;
	margin-top: 1%;
	background-color: #fff;
	border-radius: 5px;
}

.bg-lighter-gray {
	background-color: #f3f3f3;
}

#btn {
	margin-left: 92%;
	margin-bottom: 1%;
}

.mt-cust {
	margin-top: -1rem;
}

.btn-2 {
	margin-left: 40rem;
}

#biorad_surdetails>tbody>tr {
	cursor: pointer
}

.ml-c {
	margin-left: -10px;
}

div.consumes.form-row.pl-3.pr-3>div>input {
	/* background-color: red; */
}

